<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img src="/assets/About/index.png" class="img-fluid rounded b-shadow-a" alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p><span class="title-s">Name: </span> <span>Mundruku Ivan</span></p>
                    <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                    <p><span class="title-s">Email: </span> <span>ivanmundruku@gmail.com</span></p>
                    <p><span class="title-s">Phone: </span> <span>(256) 775496240</span></p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <p class="title-s">Skill</p>
                <span>HTML</span> <span class="pull-right">85%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>CSS3</span> <span class="pull-right">75%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>Angular</span> <span class="pull-right">85%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    About me
                  </h5>
                </div>
                <p class="lead">
                  A versatile and professional computer scientist graduate with a commitment
                   to and experience of developing innovative and creative software solutions.
                   Able to perform full software development life cycle activates. Have gained commercial

                  experience during my gap year with exposure to software development. Including carrying out straightforward design, testing or support of network design and solutions following existing methodology set by senior colleagues. Actively looking for a software engineering position with a fast paced and ambitious company that can offer development training, project based learning and a mentoring program.
                </p>
                <p class="lead">
                  “I feel that my strongest strengths are firstly having a passion for technology
                  and software development. Secondly an ability to understand and prioritize my
                  work in a changing business environment, thereby helping me to successfully deliver
                  results. Finally my practice of consulting with all parties involved in a project,
                  then identifying the requirements and to then provide an appropriate solution.”
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
